<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Gourmet Roasters Homepage">
        <title><%= title %></title>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

        <link rel='stylesheet' href='/stylesheets/style.css'/>

        <!-- Favicon -->
        <link rel="icon" href="/images/emoji-package-w10.png">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

        <!-- jQuery -->
        <script src="/jquery/jquery.js"></script>
    </head>
    <body>
        <div id="div-body">
            <!-- API Key Header -->
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-11">
                    <div class="p-2 box-round theme-purple">
                        <h3 class="p-2 m-1 d-flex align-items-center">
                            <div class="col align-items-center text-center">API Key:</div>
                            <form id="form-api" class="col-10">
                                <input id="input-api-key" class="col-10" name="key" type="text" value="<%= api_key %>"/>
                                <input id="input-submit-api" class="col m-2 btn btn-primary" type="submit" value="Authenticate"/>
                            </form>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row container m-3">                
                <div class="col"></div>
                <!-- Robots -->
                <div class="row col-5 m-2 box-round theme-red h-50">
                    <h3 class="p-2 m-1 fw-bold">
                        Robots
                    </h3>
                    <table id="table-robots" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Location</th>
                                <th scope="col">Holding</th>
                                <th scope="col">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <th scope="row">1234</th>
                                <td>Loading Bay</td>
                                <td>iPod</td>
                                <td>Idle</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

                <!-- Locations -->
                <div class="row col-5 m-2 box-round theme-yellow h-50">
                    <h3 class="p-2 m-1 fw-bold">Locations</h3>
                    <table id="table-locations" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Location</th>
                                <th scope="col">Items</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="col"></div>
            </div>

            <div class="row container m-3">
                <div class="col"></div>

                <!-- Selected Robot Information -->
                <div class="row col-5 m-2 box-round theme-blue h-50">
                    <h3 class="p-2 m-1 fw-bold">
                        Robot Information
                    </h3>

                    <div class="row">
                        <div class="col-4 my-auto">
                            <h5 class="m-1 fw-bold">ID</h5>
                        </div>
                        <div class="col-8 my-auto">
                            <h5 class="m-1 fst-italic" id="h5-robot-id"></h5>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-4 my-auto">
                            <h5 class="m-1 fw-bold">Location</h5>
                        </div>
                        <div class="col-5 my-auto">
                            <h5 class="m-1 fst-italic" id="h5-robot-location"></h5>
                        </div>
                        <div class="col-3 my-auto">
                            <button id="button-move" serviceID="" class="m-1 btn btn-primary align-items-center my-auto align-middle p-0" onclick="moveRobot(this)">Move</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 my-auto">
                            <h5 class="m-1 fw-bold">Held Item</h5>
                        </div>
                        <div class="col-5 my-auto">
                            <h5 class="m-1 fst-italic" id="h5-robot-held-item"></h5>
                        </div>
                        <div class="col-3 my-auto">
                            <button id="button-load-unload" serviceID="" class="m-1 btn btn-primary align-items-center my-auto align-middle p-0" onclick="loadUnload(this)">Load</button>
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-4 my-auto">
                            <h5 class="m-1 fw-bold align-middle">Status</h5>
                        </div>
                        <div class="col-8 my-auto">
                            <h5 class="m-1 fst-italic" id="h5-robot-status"></h5>
                        </div>
                    </div>
                </div>

                <!-- Selected Location Information-->
                <div class="row col-5 m-2 box-round theme-green h-50">
                    <h3 class="p-2 m-1 fw-bold">
                        Location Information
                    </h3>

                    <table id="table-items" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
        </div>

        <!-- Select Location Modal -->
        <div class="modal fade" id="modal-select-location" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Move Robot</h5>
                        <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <select name="new-location" id="select-new-location" class="form-select">

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="moveRobotConfirm(this)" data-bs-dismiss="modal">Move</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>               
            </div>
        </div>
        
        <!-- Load Item Modal -->
        <div class="modal fade" id="modal-select-item">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center">
                    <div class="modal-header" style="height: 10px;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>      
                </div>                  
            </div>
        </div>
    </body>

    <script src="/javascripts/index.js"></script>
</html>